.admin-container {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f8f8f8;
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-top: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #000;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .content h1 {
    margin-top: 0;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 4px;
  }
  
  .lista-usuarios {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .busqueda-usuarios {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .tabla-usuarios {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .tabla-usuarios th, .tabla-usuarios td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .tabla-usuarios th {
    background-color: #f2f2f2;
  }
  
  .tabla-usuarios button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  